# The directory that config/ and data/ live under. Defaults to ./.
# For any other location, create the directory tree there manually.
# BASE_DIR=

# PUID=1000
# PGID=1000

## Optional: https://docs.linuxserver.io/images/docker-plex/#environment-variables-e
# PLEX_CLAIM=

## Optional: Docker resource limits
# PLEX_MEM_LIMIT=16G
# PLEX_CPU_LIMIT=16
