# BASE_DIR=/srv/dashboard

# PUID=1000
# PGID=1000

# INFLUX_TOKEN=
# INFLUX_ORG=
# INFLUX_BUCKET=

# TELEGRAF_INFLUX_TOKEN=
# TELEGRAF_INFLUX_ORG=
# TELEGRAF_INFLUX_BUCKET=
# TELEGRAF_DOCKER_GID=

# GRAFANA_INFLUX_TOKEN=
# GRAFANA_INFLUX_ORG=
# GRAFANA_INFLUX_BUCKET=

# GF_SERVER_DOMAIN=
# GF_SERVER_ROOT_URL=
