# The directory that config/ and data/ live under. Defaults to ./.
# For any other location, create the directory tree there manually.
# BASE_DIR=

# PUID=1000
# PGID=1000

# TZ=UTC

# REHOME_SECRET_KEY=

## Optional
# REHOME_SENTRY__DSN=

## Optional, highly recommended
# GUNICORN_OPTS=--workers 4
